.arc {
    opacity: 0.7;
}

.arc:hover {
    cursor: pointer;
}

.arc text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
}

.arc path {
    stroke: #cccccc;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 0.5rem;
    background: #ffffff;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
    width: 80px;
}

/*.legend text:hover {
    cursor: pointer;
}*/
