<div class="row">
    <div class="col-md-2 col-xs-1"></div>
    <div class="col-xs-10 col-md-7">
        <div class="text-justify">
            <h3 class="text-center"><strong>ARIO – an AI-powered reconnaissance data organization tool</strong></h3>
            <br />
            <p class="text-right" style="color: #bbbbbb">Published on April 07, 2022<br />(Last updated on April 09, 2022)</p>
            <p>
                Ever since the 1971 San Fernando earthquake and with the purpose of learning from earthquakes, NSF-funded organizations such as Structural Extreme Events Reconnaissance (STEER) and
                professional organizations such as the Earthquake Engineering Research Institute (EERI) have deployed hundreds of rapid reconnaissance missions around the world. ARIO (accessible at:
                <a href="http://ario.tech.purdue.edu/"><strong>http://ario.tech.purdue.edu/</strong></a
                >) was established to empower such researchers to rapidly organize their data and make in-the-field decisions about further data collection.
            </p>

            <p>
                During these missions, researchers on-site collect all types of information that can help them understand a building’s ability to withstand damage. Information gathered includes dozens
                of images per building, annotations about the construction type, and measurements. Once the data collection is complete, researchers return to the office and organize the information
                before analyzing the damage to those buildings. Depending on the volume of buildings and of images collected per building, the organization of that data can take weeks. To speed up the
                image organization process, a research team at Purdue University designed and developed an online tool, ARIO, which allows the researcher to accelerate the organization step and go
                directly to the analysis stage. In less than two minutes, using a laptop with a good local network connection to the ARIO system, a hundred images (less than 700MB in total) can be
                categorized and a report can be generated in ARIO.
            </p>
            <div class="row text-center">
                <img src="/images/interface/ario_ovw.png" class="img-responsive" style="margin: 5px auto; width: 95%; border: 1px solid #cccccc" alt="Responsive image" />
                <strong>Overview of the ARIO platform</strong>
            </div>
            <br />
            <p>
                Through an NSF CSSI project and with past funding from the NSF CMMI program, the project team developed the Automated Reconnaissance Image Organizer (ARIO). ARIO is an online platform
                powered by trained classifiers, designed with the rapid reconnaissance researcher in mind, automating the organization of photographs of structural elements of various states of
                damage. ARIO empowers the researcher to make effective use of hundreds of images per building instead of just a few. Once the images are uploaded to the platform, they are
                automatically organized, and each image is tagged based on its content and damage state (no damage, moderate damage, severe damage), structural element type (column, wall), among other
                categories. A report is automatically generated that shows the location of the building on a map using GPS information obtained from the images, a summary of the visible damage state
                of all the images, and tags with each category on each uploaded image.
            </p>

            <p>
                ARIO can be accessed with some sample data sets and reports via
                <a href="http://ario.tech.purdue.edu/"><strong>http://ario.tech.purdue.edu/</strong></a
                >. Components of ARIO are deployed both at Purdue Geddes Cluster and the Purdue Department of Computer and Information Technology (in Knoy Hall). Researchers who are interested in
                trying ARIO are welcome to visit the website, register for an account, and generate your own private reports with the images publicly available on the platform or with your own images.
                You have the option of sharing or not sharing your report to the public.
            </p>

            <p>
                Further, ARIO is designed for the purpose of offline usage when collecting visual data in the field. ARIO can be deployed using Docker containers on a Windows tablet that meets the
                minimum hardware requirements and be used offline. Our vision is that an inspection team could take a tablet with ARIO installed to the field and generate reports offline while doing
                the inspection.
            </p>

            <p>
                ARIO is currently implemented for reinforced concrete structures and earthquake damage. Other schemas can be readily designed, and classifiers can be trained for other reconnaissance
                domains provided sufficient data is available. Interested researchers can contact us using the information below. Tell us what you think!
            </p>

            <p>
                <strong><em>Contact: </em></strong>ario@purdue.edu
                <br />
                <strong><em>Follow us on Twitter: </em></strong>@ario_tweets
                <br />
            </p>
            <p>
                To use ARIO:
                <a href="http://ario.tech.purdue.edu/">
                    <strong>http://ario.tech.purdue.edu/</strong>
                </a>
            </p>
        </div>
        <p>
            <em>
                Award #1835473
                <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1835473" target="_blank">
                    Elements: Data: Integrating Human and Machine for Post-Disaster Visual Data Analytics: A Modern Media-Oriented Approach </a
                >, January 1, 2019 – December 31, 2022
            </em>
        </p>
        <hr />
        <p class="text-right">Written by: Lissette Iturburu, Zhiwei Chu, Shirley Dyke, Thomas Hacker</p>
    </div>
</div>
