.reports-list {
    overflow-y: auto;
    max-height: calc(100vh - 550px);
    margin: 5px;
    padding: 5px;
    color: #cccccc;
}

.list-item {
    vertical-align: middle !important;
    padding: 7px 15px;
    border-radius: 0;
    border-left: 0;
}
