<div class="navbar-component">
    <h2>
        <span class="glyphicon glyphicon-filter"></span>
        &nbsp;Filters
    </h2>

    <div class="btn-group btn-group-justified" style="padding: 0 5px">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success" (click)="resetFilters()">
                <span class="glyphicon glyphicon-refresh"></span>
                &nbsp;Reset
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" (click)="changeToUnionFilterMode()">Union</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" (click)="changeToIntersectionFilterMode()">Intersection</button>
        </div>
    </div>

    <div class="filter-list-container">
        <ng-container *ngFor="let categoryType of categoryTypes">
            <h4 class="categoryType">{{ categoryType.name }}</h4>
            <ul class="list-nobullet">
                <li *ngFor="let category of categoryType.categories" role="button" (click)="toggleCategory(category.id)" [ngClass]="{ selected: isCategorySelected(category.id) }">
                    <span class="glyphicon" [ngClass]="{ 'glyphicon-check': isCategorySelected(category.id), 'glyphicon-unchecked': !isCategorySelected(category.id) }"></span>
                    {{ category.name }}
                </li>
            </ul>
        </ng-container>
    </div>
</div>
