<h1>ARIO - Automated Reconnaissance Image Organizer</h1>
<hr />

<img src="/images/interface/overview.png" class="img-responsive" alt="Abstract image" />
<hr />
<p class="text-justify" style="font-size: 16px">
    Reconnaissance teams are charged with collecting perishable data after a natural disaster. This is an expensive process and the vast amounts of data being collected, at great expense, are not
    being used to their full potential. We have developed <strong>an automated tool to rapidly organize these image</strong> to support reconnaissance teams. In just a few minutes, this tool can
    organize <strong>a few hundred images collected from a building into a structured report</strong>, linked to the images. The views taken from both the exterior and interior of the buildings are
    categorized. Associated metadata that is collected in the form of images, such as structural drawings, GPS devices, and measurements can also be organized automatically. GPS coordinates embedded
    in the image can be extracted and linked to a map. The tool will automatically generate an individual report for each building. Using a sequence of such reports, a team can efficiently review the
    image sets, rather than looking through a massive collection of mixed and unstructured individual images.
</p>

<hr />
<video width="100%" controls>
    <source src="/images/interface/intro.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
</video>
<hr />
<iframe src="/images/interface/instruction.pdf" width="100%" height="800px"></iframe>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <h3>Team</h3>
        <table class="table table-bordered table-condensed">
            <tr>
                <th>Name</th>
                <th>Current Occupation</th>
                <th>Institution</th>
            </tr>
            <tr>
                <td>
                    <a href="https://engineering.purdue.edu/IISL/" target="_blank">
                        <strong>Shirley J. Dyke</strong>
                    </a>
                </td>
                <td>Professor</td>
                <td>Purdue University</td>
            </tr>
            <tr>
                <td>
                    <a href="https://polytechnic.purdue.edu/profile/tjhacker" target="_blank">
                        <strong>Thomas J. Hacker</strong>
                    </a>
                </td>
                <td>Professor</td>
                <td>Purdue University</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/bedrich-benes-9554201/" target="_blank">
                        <strong>Bedrich Benes</strong>
                    </a>
                </td>
                <td>Professor</td>
                <td>Purdue University</td>
            </tr>
            <tr>
                <td>
                    <a href="https://engineering.purdue.edu/CE/People/ptProfile?resource_id=2123" target="_blank">
                        <strong>Julio A. Ramirez</strong>
                    </a>
                </td>
                <td>Professor</td>
                <td>Purdue University</td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <strong>Xiaoyu Liu</strong>
                    </a>
                </td>
                <td>Ph.D Student</td>
                <td>Purdue University</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/mathieu-gaillard-9b6386a8" target="_blank">
                        <strong>Mathieu Gaillard</strong>
                    </a>
                </td>
                <td>Ph.D Student</td>
                <td>Purdue University</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/zhiwei-chu-542037226/" target="_blank">
                        <strong>Zhiwei Chu</strong>
                    </a>
                </td>
                <td>Ph.D Student</td>
                <td>Purdue University</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/lissette-iturburu" target="_blank">
                        <strong>Lissette Iturburu</strong>
                    </a>
                </td>
                <td>Ph.D Student</td>
                <td>Purdue University</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/xin-zhang-080901181/" target="_blank">
                        <strong>Xin Zhang</strong>
                    </a>
                </td>
                <td>Ph.D Student</td>
                <td>Purdue University</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/jean-kwannandar-7bb57b77/?originalSubdomain=id" target="_blank">
                        <strong>Jean Kwannandar</strong>
                    </a>
                </td>
                <td>Master Student</td>
                <td>Purdue University</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/benjaminericwogen/" target="_blank">
                        <strong>Benjamin Wogen</strong>
                    </a>
                </td>
                <td>Master Student</td>
                <td>Purdue University</td>
            </tr>
            <!-- Purdue Alumni -->
            <tr>
                <th colspan="3" class="text-center">Purdue Alumni</th>
            </tr>
            <tr>
                <td>
                    <a href="https://chulminy.github.io" target="_blank">
                        <strong>Chul Min Yeum</strong>
                    </a>
                </td>
                <td>Assistant Professor</td>
                <td>University of Waterloo, Canada</td>
            </tr>
            <tr>
                <td>
                    <a href="http://me.sunykorea.ac.kr/node/139" target="_blank">
                        <strong>Jongseong(Brad) Choi</strong>
                    </a>
                </td>
                <td>Assistant Professor</td>
                <td>State University of New York, Korea</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/alana-lund-73b6607a/" target="_blank">
                        <strong>Alana Lund</strong>
                    </a>
                </td>
                <td>Assistant Professor</td>
                <td>University of Waterloo</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/ali-lenjani-34791410a/" target="_blank">
                        <strong>Ali Lenjani</strong>
                    </a>
                </td>
                <td>Post-doctoral Researcher</td>
                <td>Stanford University</td>
            </tr>
            <tr>
                <td>
                    <a href="https://degenkolb.com/bios/corey-beck/" target="_blank">
                        <strong>Corey Beck</strong>
                    </a>
                </td>
                <td>Structural Engineer Designer</td>
                <td>Degenkolb Engineers</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.rubyandassociates.com/en/About/Leslie-Bonthron.aspx" target="_blank">
                        <strong>Leslie Bonthron</strong>
                    </a>
                </td>
                <td>Structural Engineer</td>
                <td>Ruby+Associates</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/kenzo-kamiya/?originalSubdomain=jp" target="_blank">
                        <strong>Kenzo Kamiya</strong>
                    </a>
                </td>
                <td>TOS Direct Management</td>
                <td>Mitsubishi Fuso Truck and Bus Corporation</td>
            </tr>
            <!-- Collabration -->
            <tr>
                <th colspan="3" class="text-center">Collabration</th>
            </tr>
            <tr>
                <td>
                    <a href="https://www.canterbury.ac.nz/engineering/contact-us/people/santiago-pujol.html" target="_blank">
                        <strong>Santiago Pujol</strong>
                    </a>
                </td>
                <td>Professor</td>
                <td>University of Canterbury, New Zealand</td>
            </tr>
            <tr>
                <td>
                    <a href="https://engineering.unl.edu/cee/faculty/chungwook-sim/" target="_blank">
                        <strong>Chungwook Sim</strong>
                    </a>
                </td>
                <td>Assistant Professor</td>
                <td>University of Nebraska-Lincoln</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/mmidwinter/?originalSubdomain=ca" target="_blank">
                        <strong>Max Midwinter</strong>
                    </a>
                </td>
                <td>Ph.D Student</td>
                <td>University of Waterloo, Canada</td>
            </tr>
            <tr>
                <td>
                    <a href="https://pivotengineers.com/randall-poston" target="_blank">
                        <strong>Randall Poston</strong>
                    </a>
                </td>
                <td>Senior Principal</td>
                <td>Pivot Engineer</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/juan-park-92a42b94/?originalSubdomain=ca" target="_blank">
                        <strong>Ju An Park</strong>
                    </a>
                </td>
                <td>Machine Learning Developer</td>
                <td>Absorb Software</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Sample Data</h3>
        <table class="table table-borderless table-condensed" style="font-size: 12px">
            <tr>
                <td>Building 1</td>
                <td>Ecuador earthquake in 2016</td>
                <td><a href="/images/sample_data/Ecuador1.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 2</td>
                <td>Ecuador earthquake in 2016</td>
                <td><a href="/images/sample_data/Ecuador2.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 3</td>
                <td>China earthquake in 2016</td>
                <td><a href="/images/sample_data/Taiwan1.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 4</td>
                <td>China earthquake in 2016</td>
                <td><a href="/images/sample_data/Taiwan2.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 5</td>
                <td>Nepal earthquake in 2016</td>
                <td><a href="/images/sample_data/Nepal1.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 6</td>
                <td>Nepal earthquake in 2016</td>
                <td><a href="/images/sample_data/Nepal2.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 7</td>
                <td>Poha earthquake in 2016</td>
                <td><a href="/images/sample_data/Poha1.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 8</td>
                <td>Poha earthquake in 2016</td>
                <td><a href="/images/sample_data/Poha2.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 9</td>
                <td>Peru earthquake in 2016</td>
                <td><a href="/images/sample_data/Peru1.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 10</td>
                <td>Peru earthquake in 2016</td>
                <td><a href="/images/sample_data/Peru2.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 11</td>
                <td>Turkey earthquake in 2016</td>
                <td><a href="/images/sample_data/Turkey1.zip" download>Download</a></td>
            </tr>
            <tr>
                <td>Building 12</td>
                <td>Turkey earthquake in 2016</td>
                <td><a href="/images/sample_data/Turkey2.zip" download>Download</a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Acknowledgment</h3>
        <table class="table table-bordered table-condensed" style="font-size: 12px">
            <tr>
                <td>
                    <b>
                        NSF#:
                        <br />1835473
                    </b>
                </td>
                <td>
                    <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1835473" target="_blank">
                        Elements: Data: Integrating Human and Machine for Post-Disaster Visual Data Analytics: A Modern Media-Oriented Approach
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        NSF#:
                        <br />1608762
                    </b>
                    <br />(previous)
                </td>
                <td>
                    <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1608762" target="_blank">
                        CDS&E Enabling Time-critical Decision-support for Disaster Response and Structural Engineering through Automated Visual Data Analytics
                    </a>
                </td>
            </tr>
            <tr>
                <td><b>CrEEDD</b></td>
                <td>
                    <a href="https://datacenterhub.org" target="_blank"> Center for Earthquake Engineering and Disaster Data at Purdue University </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="http://www.eqclearinghouse.org"> EERI clearinghouse </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="http://www.eucentre.it/?lang=en"> EUCentre at Pavia, Italy </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="http://www.iingen.unam.mx/es-mx/Paginas/default.aspx"> The Instituto de Ingenieria of UNAM at Mexico </a>
                </td>
            </tr>
        </table>
    </div>
</div>
